/* body {
    background: url(http://picsum.photos/1500)
} */

html {
    font-family: font-family: 'Kanit', sans-serif;
}

.card {
    display: inline-block;
    box-shadow: 4px 8px 8px silver;
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.card>img {
    display: block;
    width: 100%;
    border-radius: 5px 5px 5px 0;
    /* margin-bottom: -4; */
    margin: auto;

}

.container {
    padding: 2px 18px;
    text-align: center;
    background-color: #00d9ff70;
    /* border-top: none; */

}


div {
    background-color: #00ff6a70;
}

.container h4 {
    font-weight: 800;
}